    .pass {
        padding: 4% 5%;
    }

    .Box-error {
        box-shadow: inset 0 0 5px 1px red;
    }

    @media(min-width : 800px) {
        .pass {
            padding: 4% 20%;
        }
    }
